/frontEnd/Proyecto1BD/target/
/ProyectoBD/build/
ProyectoBD/src/BD/ConnectionDB.java

*.class

ProyectoBD/nbproject/private/private.properties

ProyectoBD/nbproject/private/private.xml
ProyectoBD/src/BD/ConnectionDB.java
ProyectoBD/nbproject/private/private.properties
ProyectoBD/build/classes/BD/ConnectionDB.class
